In [6]:
x = 3
# from math import *

import math
import numpy as np
np.sin(x)

0.1411200080598672

In [7]:
np = 1
np.sin(x)

AttributeError: 'int' object has no attribute 'sin'

[A good website](https://www.learnpython.org/)

In [13]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Arithmetic Operators
| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [14]:
x = 2
y = 4

In [15]:
type(x)

int

In [16]:
print(x+y)
print(x-y)

6
-2

In [17]:
print(x*y)
print(x/y)
print(x//y)

8
0.5
0

In [18]:
print(y%x)

0

In [19]:
x**y

16

### Relational Operators
| Symbol | Task Performed |
|----|---|
|  = | Assignment|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [20]:
print(x==y)
print(x==2)
print(x!=y)

False
True
True

In [16]:
print(x>y)
print(x>2)
print(x>=2)

False
False
True

In [21]:
x>1 and y<10

True

In [22]:
x>1 or y<1

True

In [23]:
1 < x < 3

True

# Types

In [ ]:
type

In [109]:
print(type(False))
print(type(1))
print(type(1.5))

<class 'bool'>
<class 'int'>
<class 'float'>

## Boolean

In [110]:
bool

bool

## integer, float

In [111]:
int
float

float

In [112]:
x = 1.3
type(x)

float

In [113]:
int(1.9)

1

## String

In [114]:
str(1)+str(1)

'11'

In [115]:
s1 = 'Hi, this is Python course.'
s2 = "It's good to see you here!"
print(s1)
print(s2)

Hi, this is Python course.
It's good to see you here!

In [ ]:
len(s1)

In [117]:
s1.count('i')

3

In [121]:
'-'.join(['1','2','3','4'])

'1-2-3-4'

In [122]:
s1.lower()
# upper

'hi, this is python course.'

In [123]:
s1.replace('H','M')

'Mi, this is Python course.'

In [124]:
s1.split('s')

['Hi, thi', ' i', ' Python cour', 'e.']

In [125]:
'100'.zfill(4)

'0100'

In [126]:
s1 = 'aaa'
s2 = 'bbb'

In [127]:
s1*2

'aaaaaa'

In [128]:
s1+s2

'aaabbb'

## List

In [129]:
list

list

In [130]:
print(type([]))
print(type([1]))

<class 'list'>
<class 'list'>

In [132]:
x = [1,2,3,4,5,6,7,8,9,10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
len(x)

In [133]:
x[4]

5

In [134]:
x[-3]

8

In [135]:
x[3:6]

[4, 5, 6]

In [136]:
x[2:-1]

[3, 4, 5, 6, 7, 8, 9]

In [137]:
x[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [138]:
x[:-4]

[1, 2, 3, 4, 5, 6]

In [139]:
# [<begin>:<end>:<step>]
x[1:7:2]

[2, 4, 6]

In [140]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [141]:
x*2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [142]:
x+[4]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [143]:
y = [1,2,3,'Hi',[],[1,2,3]]
y

[1, 2, 3, 'Hi', [], [1, 2, 3]]

In [144]:
y[3][1]

'i'

In [145]:
x = [1,2,3]

In [146]:
x.append(5)

In [147]:
x

[1, 2, 3, 5]

In [148]:
x.insert(3,6)

In [149]:
x

[1, 2, 3, 6, 5]

In [157]:
x = [1,2,3,'Hi',[],[1,2,3]]
x[3]

'Hi'

In [158]:
x = [1,2,3,'Hi',[],[1,2,3]]
x[3] = 'Bye'
x

[1, 2, 3, 'Bye', [], [1, 2, 3]]

In [44]:
[i**2 for i in range(5)]

[0, 1, 4, 9, 16]

## Dictionary

In [189]:
x={"a":1,4:10,12:[]}
print(type(x))
print(x)

<class 'dict'>
{'a': 1, 4: 10, 12: []}

In [190]:
print(x['a'])
print(x[4])

1
10

In [192]:
y = x.keys()

In [193]:
y

dict_keys(['a', 4, 12])

In [195]:
list(y)

['a', 4, 12]

In [162]:
x['b']

KeyError: 'b'

In [46]:
{i:i*'a' for i in range(5)}

{0: '', 1: 'a', 2: 'aa', 3: 'aaa', 4: 'aaaa'}

### Other types

In [163]:
tuple
set

set

In [164]:
x = (1,2,3)
type(x)

tuple

In [165]:
x = set([1,2,2,3])
type(x)

set

In [166]:
x

{1, 2, 3}

# Loop

## for

In [4]:
for i in [1,2,3]:
    print(i)
    print('Hi')
print('Bye!')

1
Hi
2
Hi
3
Hi
Bye!

In [8]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [ ]:
for i in range(2,4):
    for j in range(2):
        print(i,j)

## while

In [11]:
n = 0
while n<10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [12]:
x = 1
while x>1e-4:
    print(x)
    x = x/5

1
0.2
0.04
0.008
0.0016
0.00032

# Condition control

In [14]:
if 3>2:
    print('Hello!')

Hello!

In [20]:
for i in range(10):
    print(i)
    if i%2==0:
        continue
#         break
    print(i)

0
1
1
2
3
3
4
5
5
6
7
7
8
9
9

# Functions

In [53]:
def echo(i):
    print(i)

In [54]:
x = echo('Bye!')

Bye!

In [55]:
print(x)

None

In [56]:
def mean3(x,y,z):
    return (x+y+z)/3.

In [57]:
m = mean3(2,3.5,6)
print(m)

3.8333333333333335

# Modules

In [123]:
import something
import something as st
from something import echo as ech

In [124]:
something.echo('sss')

sss

In [125]:
ech('dddd')

dddd

In [127]:
sys.path

list

In [128]:
import numpy as np

In [130]:
np.sqrt(2.)

1.4142135623730951

In [131]:
from numpy import sqrt

In [132]:
sqrt(2.)

1.4142135623730951

How to install Python modules:

pip install numpy